@import "./variables.scss";

.main-content {
 
  height: 50em;
  // outline: 1px solid black;
}



@media (max-width: $small) {
  .main-content {
    height: auto;
  }
}

@media (max-width: $mobile) {
  .main-content {
    height: auto;
  }
}

