@import "./variables.scss";

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $snow-blue;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .welcome-msg {
    font-family: $font-family;
    letter-spacing: $letter-spacing;
  }

  .buttons-container {
    display: flex;
    width: 20em;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}



@media (max-width: $mobile) {
  .main {
    .buttons-container {
      align-items: center;

      flex-direction: column;
    }
  }
}
