@import "./variables.scss";

.navigation-container {
  background-color: $powder-blue;
  padding: 1em;

  .navigation-bar {
    display: flex;
    
    justify-content: space-around;

    height: 2em;

    .burgers-container {
      margin: auto;
      transform: rotate(-90deg);

      display: none;

      .burger {
        border: 0.07em solid black;
        background-color: black;

        border-radius: 0.1em;

        margin: 0.12em;

        height: 1.5em;
      }

      .burger:hover {
        cursor: pointer;
      }
    }

    .navigation-items {
      width: 60em;
      margin: auto;
      
      display: flex;
      justify-content: space-evenly;

      align-items: center;

      list-style: none;
      .navigation-item {
        a {
          font-family: $font-family;
          letter-spacing: $letter-spacing;

          text-decoration: none;
          color: black;

          &:hover {
            border-bottom: 0.1em solid $dark-cornflower-blue;

          }
        }
      }
      .active {
        a {
          border-bottom: 0.1em solid $dark-cornflower-blue;

        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .navigation-container {
    .navigation-bar {
      .navigation-items {
        flex-direction: column;

        display: none;

        position: absolute;
        height: 15em;
        width: 100%;

        
        justify-content: space-evenly;
        background-color: $powder-blue;

        .navigation-item {
        }
      }

      .burgers-container {
        display: flex;

        margin-right: 1em;

        .burger {
        }
      }
    }
  }
}
