@import "./variables.scss";

.pointer-container {
    width: 6em;
    height: 2.5em;

    .svg-pointer {
        fill-rule: evenodd;
        clip-rule: evenodd;
        stroke-linejoin: round;
        stroke-miterlimit: 2;

        width: 100%;
        height: 100%;

        .pointer {
            fill: $blizzard-blue;
        }

        .pointer-text {
            fill-rule: nonzero;
            fill: $snow-blue;
        }

        &:hover {
            cursor: pointer;

            .pointer {
                fill: $sky-blue-crayola-2;
            }
    
            .pointer-text {
                fill-rule: nonzero;
                fill: $snow-blue;
            }
        }
    }
}