@import "./variables.scss";

.project-container {
  display: flex;

  width: 100%;
  height: 100%;

  justify-content: space-evenly;

  margin-top: 3em;

  h1 {
    padding: 0.4em;
    text-align: center;

    margin-bottom: 1em;
    text-decoration: underline;
    text-decoration-color: $star-command-blue;
  }

  .project-inner-container {
    .project-description {
      margin: 2em;
      padding: 1em;
      max-width: 40ch;
      .project-date {
        color: $sky-blue-crayola-2;
      }
    }

    .project-techs {
      margin: 2em;
      max-width: 40ch;
      .project-techs-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        list-style: none;

        .project-tech {
          margin: 1em;

          &::before {
            content: "\2022";
            color: $sky-blue-crayola;
            font-weight: bold;
            display: inline-block;
            width: 1em;
          }
        }
      }
    }

    .project-others {
      margin: 2em;
      .project-other {
        display: flex;
      }
    }

    .navigation-buttons {
      display: flex;

      margin: 2.5em;
      justify-content: space-evenly;

      align-items: center;
    }
  }
}

@media (max-width: $mobile) {
  .project-container {
    .project-inner-container {
      .navigation-buttons {
        display: none;
      }

      .project-others {
        .project-other {
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}
