@import "./variables.scss";

.wave-container {
  height: 150px;
  width: 100vw;
  overflow: hidden;

  .svg-wave {
    height: 100%;
    width: 100%;

    .wave {
      fill: $blizzard-blue;
      fill-opacity: 0.3;
    }
  }
}
